@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Inter', sans-serif;
}



/* For custom scroll bar */
*::-webkit-scrollbar {
	width: 12px;
  }
  *::-webkit-scrollbar-track {
	border-radius: 8px;
  }
  *::-webkit-scrollbar-thumb {
	height: 56px;
	border-radius: 8px;
	border: 4px solid transparent;
	background-clip: content-box;
	background-color: #fff;
  }
  
  .leftSideBar:hover::-webkit-scrollbar-thumb {
	background-color: #c5bbbb;
  }
  .right-sidebar:hover::-webkit-scrollbar-thumb {
	background-color: #c5bbbb;
  }
